<% provide(:title, "Privacy Policy") %>

    <h1>About Us </h1>
    <%= link_to 'Back Home', root_path, class:"btn btn-lg btn-primary" %>
    <%= link_to 'Help Us', help_path, class:"btn btn-lg btn-success" %>
    <%= link_to 'About Us', about_path, class:"btn btn-lg btn-warning" %>



