<footer class="footer fixed-bottom">
<small>
  The <a href="https://www.thefirstpitch.co.za/">Ruby on Rails Dev</a>
      by <a href="mailto:fredcbanda@hotmail.com">Fred Banda</a>
      &copy; 2023. All rights reserved.
</small>
<nav>
<ul>
<li><%= link_to "Help", help_path, class: "text-decoration-none" %></li>
<li><%= link_to "Contact", contact_path, class: "text-decoration-none" %></li>
<li><%= link_to "Privacy Policy", privacy_policy_path, class: "text-decoration-none" %></li>
<li><a href="https://news.rubyonrails.org/">News</a></li>
</ul>
</nav>
</footer>